@mixin gradient($from, $to) {
  background-color: $from;
  background-image: -moz-linear-gradient($from, $to);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

//COLORS//
$purple: #351254;

$break-small: 600px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == small {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #666;
    @include gradient($purple, #ddd);
}

body > header {
    // background-color: #351254;
    color: white;
    // font-family: 'Cinzel Decorative', cursive;
    // padding: 1rem;
    text-align: center;
    // display: flex;
    // width: 100%;
    justify-content: center;
    // .wrapper {
    //     width:
    //     display: flex;
    //     align-items: center;
    //     width: 100%;
    // }
    // .header-left {
    //     width: 50%;
    //     text-align: left;
    //     font-size: 3em;
    // }
    // .header-right {
    //     width: 50%;
    //     text-align: right;
    //     font-family: 'Open Sans', sans-serif;
    //     font-size: 1rem;
    // }
    h1 {
      font-family: 'Cinzel Decorative', cursive;
      font-size: 1rem;
      line-height: .75rem;
      @include respond-to(medium){
        font-size:2rem;
        line-height: 2.5rem;
      }
      @include respond-to(large){
        font-size: 3rem;
        line-height: 2rem;
      }
    }

    h2 {
      font-size: .5rem;
      line-height: .5rem;
      @include respond-to(medium){
        font-size:2rem;
        line-height: 2.5rem;
      }
      @include respond-to(large){
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    .top {

    }
    .bottom {

    }
}

content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

pane {
  display: flex;
  @include respond-to(small){
    flex-direction: column;
  }
  @include respond-to(medium){
    flex-direction: row;
  }
  @include respond-to(large){
    flex-direction: row;
  }
  width: 100%;
  &.connected {
    background-color: white;
    border-radius: 3px;
  }
  item {
    display: flex;
  }
  &.grid-3 item {
      align-items: center;
      flex-direction: column;
      background-color: white;
      padding: 1rem;
      divider {
          height: 1px;
          display: block;
          width: 100%;
          background-color: #ddd;
          margin: 1rem 0;
      }
      header {
          font-family: 'Cinzel Decorative', cursive;
          font-size: 1.5em;
          color: #000;
          text-align: center;
      }
      p {
        text-align: center;
      }
  }
  item:nth-of-type(2) {
    color: white;
    background-color: #351254;
      header {
        color: white;
      }
  }
}


pane.grid-2 {
  item:nth-child(1) {
    @include respond-to(large){
      width: 70.5%;
      img {
          width: 100%;
      }
    }
  }
  item:nth-child(2) {
      display: none;
      @include respond-to(large) {
        width: 33%;
        display: block;
      }
  }
}



// pane.grid-3 {
//     item:nth-child(1) {
//         width: 33%;
//     }
//     item:nth-child(2) {
//         width: 33%;
//     }
//     item:nth-child(3) {
//         width: 33%;
//     }
// }

p {
  margin-top: 0;
  margin-bottom: 1em;
}

#slideshow ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

#slideshow img {
  width: 100%;
  @include respond-to(large){
    width: 800px;
  }
}

#slideshow {
  @include respond-to(large){
    width: 850px;
    height: 650px;
  }
}

.hidden {
  display: none;
}

a.donate {
  display: inline-block;
  margin: 1rem 0 1rem 0;
  padding: 16px 38px 16px 38px;// 75px;
  border-radius: 2rem;
  background: white;// url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 37px center;
  color: $purple;
  font-size: 16px;
  //font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

form#subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  input[type=email]{
    display: inline-block;
    margin: 1rem 0 1rem 0;
    width: 90%;// 75px;
    height: 2rem;
    border-radius: 1rem;
    background: white;
    border: solid 1px $purple;
    font-size: 1rem;
  }

  input[type=email]::placeholder {
    text-align: center;
    &::focus {
       opacity: 0;
    }
  }


  input[type=submit]{
    display: inline-block;
    //width: 4rem;
    //margin: 1rem 0 1rem 0;
    padding: 16px 38px 16px 38px;// 75px;
    border-radius: 2rem;
    background: $purple;
    color: white;
    font-size: 16px;
    //font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }
}
