/*menu with jquery.horizontalNav.js*/

nav { 
	position:relative; 
	display: block;
	z-index: 11;
	float: left;
}

.sf-menu {margin-top: 24px; font-style: normal;}
.sf-menu > li > span {display: block; position: relative;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li { padding-left: 4px; position:relative; background: none;}
	.sf-menu a {
		display: block;
		text-decoration: none;
	}
		.sf-menu a:hover {text-decoration: none;}

/*================================>> 1 Level <<========================================*/

li.sfHover {position: relative;}
.sf-menu > li > a {
	position: relative;
	display:block;
	color: #353535;
	font-size: 18px;
	line-height: 20px;
	z-index: 100;
	font-family: 'Cinzel Decorative', cursive;
}
.sf-menu > li {
	display: block;
	position: relative;
	float: left;
}
.sf-menu > li + li { margin-left: 40px;}
.sf-menu > li > a > span {
	color: #994256;
	display: inline-block;
	padding-right: 5px;
}
.sf-menu > li > a:before {
	visibility: hidden;
	position: absolute;
	content: "";
	top: -25px;
	left: 50%;
	margin-left: -4px;
	border: 8px solid;
	border-color: #fff transparent transparent transparent;
	transition: all .4s ease;
}
.sf-menu > li.current > a:before,
.sf-menu > li:hover > a:before,
.sf-menu > li.sfHover > a:before {
	visibility: visible;
}
.sf-menu > li > a.sf-with-ul:after {
	position: absolute;
	bottom: -11px;
	display: inline-block;
	content: "\f107";
	right: 50%;
	margin-right: -7px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	height: 19px;
	overflow: hidden;
	width: 10px;
}

/*================================>> 2 Level <<========================================*/
.sf-menu > li > ul, 
.sf-menu > li.sfHover > ul {
	left: 0px;
	top: 43px;
	width: 100%;
	z-index:99;
	text-align: left;
	background: #c34d5f;
	padding-top: 18px;
	padding-bottom: 19px;
}

.sf-menu > li > ul li { 
	display: block;
	margin-left: 26px;
	margin-right: 26px;
}
.sf-menu > li > ul > li + li { background: url(../images/bord-1.gif) 0 0 repeat-x;}

.sf-menu > li > ul > li a {
	display: inline;
	line-height: 30px;
	font-size: 14px;
	display: block;
	position: relative;
	color: #fff;
}
.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover>a,
.sf-menu li li:hover span,
.sf-menu li.sfHover li.sfHover span { 
	text-decoration: none;
	color: #fff3c4;
}
.sf-menu li.sfHover li.sfHover { }
.sf-menu li.sfHover span { }

.sf-menu > li > ul:before {
	content: "";
	position: absolute;
	top: -12px;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -3px;
	border: 7px solid;
	border-color: transparent transparent #c34d5f transparent;
}
	.sf-menu > li > ul > li > a.sf-with-ul:after {
		position: absolute;
		top: 8px;
		display: inline-block;
		content: "\f105";
		right: -10px;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}
/*================================>> 3 Level <<========================================*/

.sf-menu li li ul {
	left: 100px;
	top: -12px;
	width: 119px;
	z-index:99;
	position: absolute;
	text-align: left;
	background: #c4887d;
	padding-top: 9px;
	padding-bottom: 10px;
}

.sf-menu li li li {
	display: block;
	margin-left: 23px;
	margin-right: 23px;
}
.sf-menu li li li a {
	display: inline;
	line-height: 36px;
	font-size: 14px;
	display: block;
	position: relative;
	color: #fff;
}
.sf-menu li li li:first-child > a {
	border: none;
}
.sf-menu li li li + li { background: url(../images/bord-2.gif) 0 0 repeat-x;}

.sf-menu li li li a:hover {	color: #fff5d1;}

.sf-menu > li > ul > li > a > span { top: 8px; right: 6px;}

.sf-menu li li ul:before {
	content: "";
	position: absolute;
	top: 21px;
	left: -13px;
	width: 0;
	height: 0;
	border: 7px solid;
	border-color: transparent #c4887d transparent transparent;
}
/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1220px) {
	.sf-menu > li + li {  margin-left: 10px; }
}
@media only screen and (max-width: 995px) {
	.sf-menu > li + li {  margin-left: 10px; }
	.sf-menu > li > a { font-size: 14px;}
}
@media only screen and (max-width: 795px) {

}
@media only screen and (max-width: 767px) {
	nav { float: none;}
	.sf-menu { display: none;}
	.h-menu:before { display: none;}

	nav select {
		height: 35px;
		border: 1px solid #963f56;
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 20px;
		color: #ffffff;
		background-color: #963f56;
		width:100%;
	    outline: none;
	    padding: 5px;
		font-weight: normal;
		margin-top: 40px;
		margin-bottom: 0px;
	}
	nav select option:first-child {
		color:#ffffff;
	}
}

@media only screen and (max-width: 479px) {
}